* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Sofia Sans";
  background-color: #000;
  color: white;
  cursor: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5% auto 7%;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  /* background-color: gray; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  /* background-color: green; */
}

.left-div img {
  border-radius: 33px;
  box-shadow: 0px 0px 100px whitesmoke;
  animation: backgroundShadow 2s ease-in-out infinite alternate;
}

@keyframes backgroundShadow {
  from {
    opacity: 60%;
    transform: skewY(2deg);
  }
  to {
    opacity: 100%;
    transform: skewY(-5deg);
  }
}

.right-dev {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-name {
  font-size: 2.2em;
}

.user-cv {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.download-btn {
  border: 1px solid;
  border-radius: 9px;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.download-btn:hover {
  background-color: white;
  color: black;
  transition: background-color 0.4s ease-in;
}

footer {
  grid-area: footer;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.link-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin-right: 10px;
}

.link-pages a img {
  width: 30px;
}

footer p {
  margin-right: 10px;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: rgba(204, 255, 0, 0.7);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
  z-index: 9999;
  mix-blend-mode:difference;
}
