* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: roboto;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15% auto 6%;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header {
  grid-area: header;
  background-color: black;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: 5px 5px 50px rgb(119, 118, 118);
}

header .header-leftside {
  width: 45%;
  display: flex;
  gap: 4px;
  margin-left: 77px;
  /* background-color: grey; */
}
.logo {
font-family: "Manufacturing Consent", system-ui;
  font-size: 5em;
}

.header-leftside div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logoNameUpper {
  font-size: 2em;
  position: relative;
  top: 7px;
}
.logoNameLower {
  font-size: 2em;
}


main {
  grid-area: main;
  /* background-color: green; */
  display: flex;
  justify-content: start;
  align-items: center;
}

main .main-leftside {
  height: 100%;
  width: auto;
  margin-left: 77px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-rightside {
  height: 100%;
  width: 58.5%;
  /* background-color: darkblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.main-rightside h1 {
  font-size: 5em;
    font-family: "Castoro Titling", serif;
}

.main-rightside p {
  font-size: 1.3em;
  text-align: right;
}

footer {
  grid-area: footer;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-left {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .footer-right {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
}

.footer-right a img {
  width: 30px;
  border-radius: 50%;
}
